    <div class="col-md-6">
        <div class="l-login-wrap">
            <div class="m-login-fields">

                <div class="login-alt">
                    <%= link_to user_omniauth_authorize_path(:facebook), {class: 'e-social-icon fa fa-facebook icon-facebook', target: '_top'} do %><% end %>
                    <%= link_to user_omniauth_authorize_path(:twitter), {class: 'e-social-icon fa fa-twitter icon-twitter', target: '_top'} do %><% end %>
                    <%= link_to user_omniauth_authorize_path(:google_oauth2), {class: 'e-social-icon fa fa-google-plus icon-googleplus', target: '_top'} do %>
                    <% end %>
                </div>

                <div class="l-separator">
                    <div class="separator-border">
                        <span class="icon-separator"></span>
                    </div><!-- separator-border -->
                </div>
                <div class="login-frame">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= f.label :email, class: 'control-label col-sm-3' %>
                    <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>


                    <%= f.label :password, class: 'control-label col-sm-3' %>
                    <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
                  
                    <%= f.submit "Log In", class: 'login' %>
                  <% end %>
                </div>
                <div class="register-frame hidden">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= f.label :name, class: 'control-label col-sm-3' %>
                        <%= f.text_field :name, :autofocus => true, class: 'form-control', placeholder: 'name' %>

                        <%= f.label :email, class: 'control-label col-sm-3' %>
                        <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>

                        <%= f.label :college, class: 'control-label col-sm-3' %>
                        <%= f.select :college_id, College.all.map{ |c| [c.name, c.id]  }, { prompt: 'Select a college' }, class: 'form-control' %>

                        <%= f.label :password, class: 'control-label col-sm-3' %>
                        <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
                        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'repeat password' %>
                      
                        <%= f.submit "Register", class: 'register' %>
                    <% end %>

                </div>
                <div class="forgot-password-frame hidden">
                    <label for="username">Username or Email</label>
                    <input type="text" class="form-control" id="username" />

                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" disabled />

                    <input type="checkbox" id="rememberme" disabled /> <label for="rememberme"> Remember Me </label>
                    <input type="button" class="forgot" value="Recover" />
                </div>



            </div><!-- .m-login-fields -->
            <a class="lostpassword" onclick="
                $(this).addClass('hidden');
                $('.signup').addClass('hidden');
                $('.back-to-login').removeClass('hidden');
                $('.login-frame').addClass('hidden');
                $('.register-frame').addClass('hidden');
                $('.forgot-password-frame').removeClass('hidden');
                ">Forgot password</a>
            <a class="signup" onclick="
                $(this).addClass('hidden');
                $('.back-to-login').removeClass('hidden');
                $('.register-frame').removeClass('hidden');
                $('.login-frame').addClass('hidden');">Create an account</a>
            <a class="back-to-login hidden" onclick="
                $(this).addClass('hidden');
                $('.signup').removeClass('hidden');
                $('.lostpassword').removeClass('hidden');
                $('.login-frame').removeClass('hidden');
                $('.register-frame').addClass('hidden');
                $('.forgot-password-frame').addClass('hidden');">Use existing account</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="index-wrap">
            <div class="container">
                <div class="logo">
                    <img src="<%= asset_path('logo_black.svg') %>" alt="Logo" class="logo-img"/>
                    <h1 class="logo-text">CollegeShare</h1>
                </div>
            </div>
            <img src="<%= asset_path('home.jpg') %>" alt="Loading image..."/>
            <div class="container">
                <h2 align="center">Upload | Share | Download</h2>
                <h6 align="center">A place where students share resources to help each other survive college.</h6>
            </div>
        </div>
    </div>
