
<%= form_for [@interview, Comment.new] do |f| %>
<div class="form-group">
  <%= f.label :comment %>
  <%= f.text_area :content, class: 'form-control' %>
 </div>

  <%= f.hidden_field :owner_id, value: @interview.id %>
  <%= f.hidden_field :owner_type, value: @interview.class.to_s %>

  <%= f.submit "comment", class: 'btn btn-info' %>
<% end %>