<% @upload.comments.each do |comment| %>
	<div class="row">
	    <div class="m-author-info col-lg-12">

	        <div class="wrap-border">
	          <%= link_to profile_path(comment.user) do %>
	            <div class="author-avatar col-lg-2 col-md-2 col-sm-3 col-xs-4 fullwidth-early-bs">
	            	<% if comment.user.profile_pic.present? %>
	            		<%= image_tag comment.user.profile_pic, class: 'circled' %>
	            	<% else %>
	                    <img src="<%= asset_path('default_profile_pic.jpg') %>" />
	            	<% end %>
	            </div><!-- author-avatar -->
	          <% end %> 

	            <div class="author-bio col-lg-10 col-md-10 col-sm-9 col-xs-8 fullwidth-early-bs">
	                <%= link_to profile_path(comment.user) do %><h3><%= comment.user.name %></h3><% end %>
	                <p>
	                  <%= comment.content %>
	                </p>
	            </div>
	        </div><!-- wrap-border -->

	    </div><!-- comment -->
	</div><!-- row -->
<% end %>

