

<div class="l-contact-form">
    <h4>Leave A Comment</h4>

	    <%= form_for [@upload, Comment.new] do |f| %>
	      <%= f.text_area :content, class: 'form-control', placeholder: 'Message' %>

	      <%= f.hidden_field :owner_id, value: @upload.id %>
	      <%= f.hidden_field :owner_type, value: @upload.class.to_s %>

	      <%= f.submit "Comment", class: 'default-button' %>
	    <% end %>

</div><!-- l-contact-form -->