<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
  	<%= f.label :password, "New password" %>
  	<%= f.password_field :password, :autofocus => true, class: 'form-control' %>
  </div>

  <div class="form-group">
  	<%= f.label :password_confirmation, "Confirm new password" %>
  	<%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div><%= f.submit "Change my password", class: 'btn btn-warning' %></div>
<% end %>

