
<%= form_for @user, url: edit_path, html: { method: :post } do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this from being saved:</h2>
	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	 	<div class="form-group">
	    <%= f.label :name %>
	    <%= f.text_field :name,value: @user.name , :autofocus => true, class: 'form-control', placeholder: 'name' %>
	  </div>

	  <div class="form-group">
	    <%= f.label :college %>
	    <%= f.select :college_id, College.all.map{ |c| [c.name, c.id]  }, { prompt: 'Select a college' }, class: 'form-control' %>
	  </div>

	  <%= f.hidden_field :id, value: current_user.id %>

    <%= f.submit "Update", class: 'default-button' %>
  
<% end %>
