<% if @user.followers.any? %>
	<% @user.followers.each do |user| %>
		<p><%= link_to user.name, profile_path(id: user.id), method: :get  %></p>
	<% end %>
<% else %>
	<p>No followers yet..</p>
<% end %>