<% if @user.following.any? %>
	<% @user.following.each do |user| %>
		<p><%= link_to user.name, profile_path(id: user.id), method: :get  %></p>
	<% end %>
<% else %>
	<p>Not followed anyone yet..</p>
<% end %>