<div class="l-page-wrapper">
    <div class="l-content-wrap">
        <div class="m-page-title">
            <h1>Profile</h1>
            <% if @user == current_user %>
            	<%= link_to edit_path(id: current_user.id) do %>
           	 		<div class="profile-edit"><i class="fa fa-edit"></i> Edit Profile</div>
            	<%end%>
			<% end %>
        </div><!-- m-page-title -->

        <div class="row">
            <div class="col-lg-12">

                <div class="row l-user-profile">
                    <div class="col-lg-3 col-md-3 col-sm-3 user-avatar">
                    	<% if @user.profile_pic.present? %>
                    		<%= image_tag @user.profile_pic %>
                    	<% else %>
	                        <a href="#"><img src="<%= asset_path('default_profile_pic.jpg') %>" /></a>
                    	<% end %>
                    </div><!-- col-lg-3 -->

                    <div class="col-lg-9 col-md-9 col-sm-9 user-info">
                        <h2><%= @user.name %></h2>
                        <% if @user.college_id %><p><%= @user.college.name %></p><% else %><p>No College Selected</p><% end %>
                        <!-- social icons -->
                    </div><!-- col-lg-9 -->
                </div>
                <div class="row l-user-profile">
                    <div class="l-user-history col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <ul>
                            <li><a href="#" class="current">Uploads</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Followed</a></li>
                        </ul>

                    </div>
                </div>
                <div class="row l-user-profile">
                    <div class="l-collections-posts">
                    	<% if @user.uploads.count > 0 %>
                            <%= will_paginate(@uploads) %>
                    		<% @uploads.each do |upload| %>
                    			<%= render 'uploads/card', upload: upload %>
                    		<% end %>
                    	<% else %>
                    	   <p>No uploads yet...</p>
                    	<% end %>
         

                    </div><!-- l-collections-posts row -->
                </div>




                </div><!-- row -->

            </div><!-- col-lg-12 -->
        </div><!-- row -->


    </div><!-- l-content-wrap -->
</div><!--l-page-wrapper-->