@font-face {
	font-family: 'icomoon';
	src:url('<%= asset_path('icomoon.eot') %>');
	src:url('<%= asset_path('icomoond41d.eot?#iefix') %>') format('embedded-opentype'),
		url('<%= asset_path('icomoon.woff') %>') format('woff'),
		url('<%= asset_path('icomoon.ttf') %>') format('truetype'),
		url('<%= asset_path('icomoon.svg#icomoon') %>') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\e601";
}
.icon-behance:before {
	content: "\e602";
}
.icon-cloud:before {
	content: "\e603";
}
.icon-deviantart:before {
	content: "\e604";
}
.icon-digg:before {
	content: "\e605";
}
.icon-dribbble:before {
	content: "\e606";
}
.icon-eye:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}
.icon-flickr:before {
	content: "\e609";
}
.icon-youtube:before {
	content: "\e60a";
}
.icon-wordpress:before {
	content: "\e60b";
}
.icon-vine:before {
	content: "\e60c";
}
.icon-twitter:before {
	content: "\e60d";
}
.icon-tumbler:before {
	content: "\e60e";
}
.icon-stumbleupon:before {
	content: "\e60f";
}
.icon-separator:before {
	content: "\e610";
}
.icon-search:before {
	content: "\e611";
}
.icon-rss:before {
	content: "\e612";
}
.icon-arrow-right2:before {
	content: "\e613";
}
.icon-pinterest:before {
	content: "\e614";
}
.icon-mail:before {
	content: "\e615";
}
.icon-logout:before {
	content: "\e616";
}
.icon-linkedin:before {
	content: "\e617";
}
.icon-link:before {
	content: "\e618";
}
.icon-lastfm:before {
	content: "\e619";
}
.icon-instagram:before {
	content: "\e61a";
}
.icon-image:before {
	content: "\e61b";
}
.icon-heart:before {
	content: "\e61c";
}
.icon-googleplus:before {
	content: "\e61d";
}
