@media (max-width: 1600px)  {

	/* sidebar width */
	.l-sidebar-left, .l-sidebar-right, .l-sidebar-left-color, .l-sidebar-right-color {
		width: 350px;
	}

	/* main content */
	.l-page-wrapper {
		width: calc(100% - 350px);
                                    width: -webkit-calc(100% - 350px);
                                    width: -moz-calc(100% - 350px);
                                    width: -o-calc(100% - 350px);
	}

	/* left sidebar padding */
	.m-site-header {
		padding: 10px 52px 0 52px;
	}

	.l-user-info {
		padding: 35px 52px 0 52px;
	}

	.navbar-nav > li > a {
		padding: 24px 25px;
	}

        .l-main-slider-wrap .flexslider .flex-direction-nav a.flex-prev, .l-main-slider-wrap .flexslider .flex-direction-nav a.flex-next {
            top: 30%;
        }


	.l-cont-side-wrap {
		float: right;
		width: calc(100% - 350px);
                                    width: -webkit-calc(100% - 350px);
                                    width: -moz-calc(100% - 350px);
                                    width: -o-calc(100% - 350px);
	}

	.l-post-video iframe {
		height: 430px;
	}

	.l-slider-wrap .flex-direction-nav .flex-next {
		right: -33px;
	}

	.l-slider-wrap .flex-direction-nav .flex-prev {
		left: -33px;
	}

	.l-slider-wrap .flex-direction-nav a {
		width: 30px;
		height: 30px;
	}

	.l-slider-wrap .flex-direction-nav a.flex-prev:before, .l-slider-wrap .flex-direction-nav a.flex-next:before {
		margin-top: 0;
	}

	.flex-direction-nav a {
		z-index: 5;
	}

	.project-post-4col {
		width: 46%;
		margin: 0 1.9% 30px 1.9%;
	}

	.l-user-history > ul > li {
		margin: 0 15px 0 15px;
	}

	.comment-author h2 {
		margin: 5px 0 5px 0;
	}

	a.slider-read-button {
		margin: 5px 0 0 0;
		padding: 7px 18px;
	}

	ol.flex-control-nav {
		bottom: 10px;
	}

}

@media (max-width: 1270px)  {

	/* sidebar width */
	.l-sidebar-left, .l-sidebar-left-color {
		width: 350px;
	}

	.l-sidebar-right-color {
		display: none;
	}

	/* main content */
	.l-page-wrapper {
		width: 100%;
	}

	.l-sidebar-right {
		background-color: #fafafa;
	}

	/* left sidebar padding */
	.m-site-header {
		padding: 10px 35px 0 35px;
	}

	.l-user-info {
		padding: 35px 35px 0 35px;
	}

	.l-sidebar-right, .l-content-wrap {
		padding: 0 35px 0 35px;
	}

	.l-sidebar-right {
		width: 100%;
	}

	.l-sidebar-right .l-sidebar-widget {
		width:42%;		
		margin-right: 5%;
		float: none;
	}

	.l-sidebar-right .l-sidebar-widget:nth-child(2n+2) {
		margin-right: 0;
	}

	.l-post {
		margin-bottom: 60px;		
	}

	.l-page-wrapper .l-separator {
		margin-bottom: 70px;
	}

	.l-content-wrap .container {
		width: 100%;
	}

	.l-cont-side-wrap {
		float: right;
		width: calc(100% - 350px);
                                    width: -webkit-calc(100% - 350px);
                                    width: -moz-calc(100% - 350px);
                                    width: -o-calc(100% - 350px);
	}

	.l-post-video iframe {
		height: 450px;
	}

	.l-content-wrap {
		padding-bottom: 55px;
	}

	.file-upload {
		width: 100%;
	}


}

@media (max-width: 1070px)  {

	/* sidebar width */
	.l-sidebar-left, .l-sidebar-left-color {
		width: 350px;
	}

	/* left sidebar padding */

	.m-site-header {
		padding: 10px 52px 0 52px;
	}

	.l-user-info {
		padding: 35px 52px 0 52px;
	}

	.l-sidebar-right {
		float: left;
		width: 100%;
		background-color: #fafafa;
	}

	.l-sidebar-right-color {
		display: none;
	}
	
	.l-content-wrap .container {
		width: 100%;
	}

	.l-cont-side-wrap {
		float: right;
		width: calc(100% - 350px);
                                    width: -webkit-calc(100% - 350px);
                                    width: -moz-calc(100% - 350px);
                                    width: -o-calc(100% - 350px);
	}

	.l-project-posts-third .project-post-2col {
		width: 100%;
		margin:0 0 25px 0;
	}

	.l-user-history > ul {
		height: auto;
		float: left;
		width: 100%;
	}

	.l-user-history > ul > li {
		float: left;
		border-bottom: none;
	}

	.l-user-history > ul > li a:hover, .l-user-history > ul > li a.current {
		border-bottom: 1px solid transparent;
	}
        
        .navbar-inverse .navbar-nav > li > a {
            font-size: 0.9em;
            padding: 24px 15px ;
        }

}

@media (max-width: 960px)  {

	body {
		overflow-x: hidden;
	}

	.l-sidebar-left-color {
		display: none;
	}

	.l-sidebar-left {
		position: absolute;
		background-color: #ee6969;
		z-index: 10;
		left: -350px;
	}

	.l-sidebar-right .l-sidebar-widget, .l-sidebar-right {
		float: left;
		width: 100%;		
	}

	.l-navigation-wrap, .l-page-wrapper {
		width: 100%;
		border: none;
	}

	.l-sidebar-left {
		-moz-box-shadow: 2px 0px 1px rgba(0,0,0,0.1);
		-webkit-box-shadow: 2px 0px 1px rgba(0,0,0,0.1);
		box-shadow: 2px 0px 1px rgba(0,0,0,0.1);
		height: 100%;
	}

	.l-cont-side-wrap {
		float: right;
		width: 100%;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		transition: all 1s ease;
	}

	.l-sidebar-left .sidebar-open {
		display: block;
		-moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.2);
		box-shadow: 1px 0px 1px rgba(0,0,0,0.2);
	}

	.move-right {
		left: 100px;
		position: relative;
	}

	body .show-sidebar {
		left: 0;
	}

	body .show-sidebar .sidebar-open {
		left: 350px;
	}
        
                .navbar-inverse .navbar-nav > li > a {
                    font-size: 1em;
                    padding: 24px 25px ;
                }

}


@media (max-width: 770px)  {

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5 {
		font-size: 1.3em;
	}

	h6 {
		font-size: 1.2em;
	}

	.slider-wrapper p {
		display: none;
	}

	a.slider-read-button {
		margin: 5px 0 0 0;
		padding: 5px 15px;
	}
	
	.slider-wrapper h1 {
		font-size: 1.6em;
                                    margin-bottom: 20px
	}

	.l-meta-data .views-likes {
		float: left;
		padding-left: 0;
	}

	.l-meta-data .views-likes li:first-child {
		margin-left: 0;
	}

	.l-post-video iframe {
		height: 280px;
	}

	.pagination-lg > li > a, .pagination-lg > li > span {
		padding: 6px 12px;
	}

	.pagination .icon-arrow-right, .pagination .icon-arrow-left {
		padding: 6px 10px;
	}

	.woocommerce .cart-collaterals .cross-sells {
		width: 100%;
	}

	.woocommerce #content div.product form.cart .button, 
	.woocommerce div.product form.cart .button, 
	.woocommerce-page #content div.product form.cart .button, 
	.woocommerce-page div.product form.cart .button {
		margin: 10px 0 0 0;
	}

	.woocommerce #content div.product div.images, 
	.woocommerce #content div.product div.summary, 
	.woocommerce div.product div.images, 
	.woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page #content div.product div.summary, 
	.woocommerce-page div.product div.images, 
	.woocommerce-page div.product div.summary {
		width: 100%;
		margin-top: 30px;
	}

	.woocommerce #content div.product div.images, 
	.woocommerce #content div.product div.summary, 
	.woocommerce div.product div.images, 
	.woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page #content div.product div.summary, 
	.woocommerce-page div.product div.images, 
	.woocommerce-page div.product div.summary {
		width: 100%;
		padding-left: 0;
	}

	.m-search-field .header-search {
		width: 90%;
	}

	.m-search-field {
		width: 100%;
                                    position: static;
	}
        

}

@media (max-width: 560px)  {

	.fullwidth-early-bs {
		width: 100%;
	}

	p {
		font-size: 1.1em;
	}

	h1 {
		font-size: 1.6em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.3em;
	}

	h5 {
		font-size: 1.2em;
	}

	h6 {
		font-size: 1.1em;
	}

	.l-meta-data .min-read {
		padding-left: 0;
	}

	.l-post-video iframe {
		height: 200px;
	}

	a.read-more {
		padding: 8px 16px;
	}

	.l-meta-data ul li {
		font-size: 1em;
	}

	.l-meta-data .views-likes, .l-meta-data .min-read, .l-meta-data .date, .meta-separator {
		display: none;
	}

	a.slider-read-button {
		padding: 3px 12px;
	}

	ol.flex-control-nav {
		bottom: 20px;
	}

	.l-profile-tabs {
		width: 100%;
	}

	.l-profile .nav-tabs {
		border-right: none;
		margin-bottom: 25px;
	}

	.l-profile-options {
		width: 100%;
	}

	.l-login-wrap {
		width:340px;
	}

	.m-login-fields {
		padding: 30px 31px ;
	}

	.project-post-2col, .project-post-3col, .project-post-4col {
		width: 100%;
		margin: 0 0 25px 0;
	}

	.l-project-posts-third {
		width: 100%;
	}

	.l-side-categories {
		width: 100%;
	}

	.woocommerce .cart-collaterals .cross-sells ul.products li, 
	.woocommerce-page .cart-collaterals .cross-sells ul.products li {
		width: 100%;
	}
	
	.woocommerce #content .quantity .plus, 
	.woocommerce .quantity .plus, 
	.woocommerce-page #content .quantity .plus, 
	.woocommerce-page .quantity .plus, 
	.woocommerce #content .quantity .minus, 
	.woocommerce .quantity .minus, 
	.woocommerce-page #content .quantity .minus, 
	.woocommerce-page .quantity .minus {
		display: none;
	}

	.woocommerce-page .quantity input.qty {
		float: none;
		margin: 0 auto;
		width:40px;
	}

	.woocommerce .order_details li, .woocommerce-page .order_details li {
		width: 100%;
		border-right: none;
		margin-bottom: 10px;
	}

	.m-search-field .header-search {
		width: 80%;
	}

	.author-links {
		font-size: 0.8em;
		width: 50%;
	}

	.author-twitter {
		margin-top: 5px;
	}

}




@media (max-width: 360px)  {

	body .show-sidebar {
		width: 100%;
	}

	body .show-sidebar .sidebar-open {
		right: 0;
		left: auto;
		background-color: #fff;
		color: #ee6969;		
	}
	ol.flex-control-nav {
		bottom: 2px;
	}

	.l-post-video iframe {
		height: 200px;
	}

	.l-login-wrap {
		width:280px;
	}

	.m-login-fields {
		padding: 30px 31px ;
	}

	.fullwidth-bs {
		width: 100%;
		text-align: center;
	}

	.l-testimonials .fullwidth-bs img {
		width: 50%;
	}

	.triangle-left {
		display: none;
	}

	.l-testimonials .l-testimonials-text {
		padding: 15px 30px;
	}

}
