

<div class="col-md-6">
    <div class="l-login-wrap upload">
        <div class="m-login-fields upload">
            <div class="login-frame">
                <%= form_for(@upload) do |f| %>
                  <% if @upload.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

                      <ul>
                      <% @upload.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                    <div class="form-group"> 
                      <%= f.label :name %>
                      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'name' %>
                    </div>
                    <div class="form-group"> 
                      <%= f.label :description %>
                      <%= f.text_field :description, autofocus: true, class: 'form-control', placeholder: 'description' %>
                      <p>Do no forget to add tags eg: #OperatingSystems   #cs   #notes #qp</p>
                    </div>

                    <%= f.hidden_field :key %>

                    <p>Upload file name : <%= @upload.filename %></p>

                    <%= f.submit "Post", class: 'default-button' %>
                <% end %>
            </div>
        </div><!-- .m-login-fields -->
    </div>
</div>
