<div class="right-pane">
    <div class="container">
        <div class="l-content-wrap">
            <div class="m-page-title">
                <h1>Upload</h1>
            </div><!-- m-page-title -->
            <div class="container">
                <div class="col-md-6">
                    <div class="index-wrap upload">
                        <img src="<%= asset_path('logo_black.svg') %>" width="200px" alt="Loading image..."/>
                        <div class="l-login-wrap upload">
                            <div class="m-login-fields upload">
                                <div class="login-frame">
                                    <%= direct_upload_form_for @uploader do |f| %>
                                       <div class="form-group">
                                         <label for="file">File Path</label>
                                         <%= f.file_field :link, id: 'file_upload', class: 'form-control', type: 'file' %>
                                       </div>
                                       <div>
                                           <%= f.submit "Upload", class: 'login' %>
                                       </div>
                                    <% end %>      
                                </div>
                            </div><!-- .m-login-fields -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="l-content-wrap">
                    <div class="m-page-title">
                        <h1>Share Feed</h1>
                    </div><!-- m-page-title -->
                    <div class="l-collections-posts">

                    <% if @uploads.count > 0 %>
                       <%= will_paginate @uploads %>
                         <% @uploads.each do |upload| %>
                           <%= render 'uploads/card', upload: upload %>
                         <% end %>
                     <% else %>
                       No uploads yet..
                     <% end %>

                    </div><!-- l-collections-posts row -->
                </div>
            </div>
        </div>
    </div>
</div>
