<div class="row">
    <div class="container">
        <div class="l-content-wrap">
            <div class="m-page-title">
                <h1>Search Results</h1>
            </div><!-- m-page-title -->
            <div class="l-collections-posts">

            <% if @uploads.count > 0 %>
               <%= will_paginate @uploads %>
                 <% @uploads.each do |upload| %>
                   <%= render 'uploads/card', upload: upload %>
                 <% end %>
             <% else %>
               No results found..
             <% end %>

            </div><!-- l-collections-posts row -->
        </div>
    </div>
</div>
