	<div class="container">
	    <div class="collections-post news-feed show" id="<%= @upload.id %>">
	        <div class="col-md-4">
	            <div class="container">
	                <div class="row main-details">
	                    <div class="l-post-image">
	                    	<%= image_tag "file-icons/#{@upload.filename.split('.').last.downcase}.png" %>
	                    </div><!-- l-post-image  -->
	                    <div class="collections-icons collections-icons-main">
	                        <div data-toggle="tooltip" data-placement="top" title="size"><i class="fa fa-fw fa-file"></i>
	                        	<% if @upload.link.file.size / (1024**2) != 0 %>
	                        		<%= @upload.link.file.size / (1024**2) %> MB
	                        	<% else %>
	                        		<%= @upload.link.file.size / 1024 %> KB
	                        	<% end %>
	                        </div>
	                        <div data-toggle="tooltip" data-placement="top" title="downloads"><i class="fa fa-fw fa-download"></i><span class="no-of-downloads"><%= @upload.no_of_downloads %></span></div>
	                        <div class="row">
	                            <div class="upvote-button" data-toggle="tooltip" data-placement="top" title="upvotes"><i class="fa fa-fw fa-thumbs-up" data-toggle="tooltip" data-placement="top" title="upvote"></i><span class="no-of-upvotes"><%= @upload.upvotes %></span></div>
	                            <div data-toggle="tooltip" data-placement="top" title="comments"><i class="fa fa-fw fa-comments"></i><%= @upload.comments.count %></div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="collections-icons">
	                        <div class="btn btn-primary download-button" onclick="location.href='<%= @upload.link_url %>'">
		                      <i class="fa fa-2x fa-fw fa-download"></i>
			                </div>
			                <div class="g-savetodrive-parent" onmouseover="$(this).children('.g-savetodrive-wrapper').stop(true,false).fadeIn();" onmouseout="$(this).children('.g-savetodrive-wrapper').stop(true,false).delay(1500).fadeOut();">
                      		  <div class="g-savetodrive-wrapper">
                                <div class="g-savetodrive" data-src="<%= @upload.link_url %>" data-filename="<%= @upload.filename %>" data-sitename="CollegeShare"></div>
                              </div>
			                  <div class="btn btn-primary g-savetodrive-button">
			                      <i class="fa fa-2x fa-fw fa-cloud-download"></i>
			                  </div>
			                </div>
		                </div>
		            </div>
		            <div class="collections-icons">
			            <% if @upload.verified %>
		                <div class="row">
		                    <div><i class="fa fa-fw fa-check-circle"></i>Verfied</div>
		                </div>
		            	<% end %>
		                <div class="row">
		                    <div data-toggle="tooltip" data-placement="top" title="shared by"><i class="fa fa-fw fa-user"></i><%= link_to profile_path(id: @upload.user) do %><%= @upload.user.name %>
		                    <% end %></div>
		                </div>
		                <div class="row">
		                    <div data-toggle="tooltip" data-placement="top" title="shared on"><i class="fa fa-fw fa-upload"></i><%= @upload.created_at.localtime.strftime('%B %d, %Y') %></div>
		                </div>
		            </div>
	        	</div>
	        </div>
	        <div class="col-md-8">
	            <h3><%= @upload.name %></h3>
	            <p><%= @upload.user.college.name %></p>
	            <p><%= @upload.description %></p>

			    <% if current_user.owner? @upload or current_user.admin? %>
			    	<%= link_to 'Edit', edit_upload_path(@upload) %> |
			    	<%= link_to 'Destroy', @upload, method: :delete, data: { confirm: 'Are you sure?' } %>
			    <% end %>
	        </div>
	    </div>

	    <div class="l-separator">
	        <div class="separator-border">
	            <span class="icon-separator"></span>
	        </div><!-- separator-border -->
	    </div>

	    <div class="col-md-8 col-md-offset-2 comments-section">
	        <h2><%= pluralize(@upload.comments.count, 'Comment') %></h2>
	        <!-- comment -->
	        	<%= render 'comments/upload_comments'%>
	        <!-- comment -->
	        <div class="row">
	        
		        <div class="l-separator">
		            <div class="separator-border">
		                <span class="icon-separator"></span>
		            </div><!-- separator-border -->
		        </div>

		        <%= render 'comments/upload_comment_form' %>
            </div>
        </div>
	</div>