<% flash.each do |name, msg| %>
	<% if name == :alert %>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true" class="fui-cross"></span>
				<span class="sr-only">Close</span>
			</button>
			<%= msg %>
		</div>
	<% else %>
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true" class="fui-cross"></span>
				<span class="sr-only">Close</span>
			</button>
			<%= msg %>
		</div>
	<% end %>
<% end %>