<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to root_path do %>
                <div class="logo navbar-brand">
                    <img src="<%= asset_path('logo.svg') %>" alt="Logo" class="logo-img"/>
                    <h3 class="logo-text">CollegeShare</h3>
                </div>
            <% end %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                    <li>
                        <%= link_to "Profile", profile_path(id: current_user.id), method: :get %>
                    </li>
                    <li>
                       <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                    </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<%= form_tag(search_path, method: 'get', role: 'search') do  %>
        <div class="form-group">
            <%= text_field_tag :query, params[:query], class: 'form-control form-search', placeholder: 'Search Our Galaxy of Shares ...', id: 'search' %>
        </div>
<% end %>