<div class="row">
  <div class="stats col-md-3">
    <a href="<%= following_path(id: @user.id) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      following
    </a>
    |
    <a href="<%= followers_path(id: @user.id) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      followers
    </a>
  </div>
</div>