<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <title><% image_tag "logo.png", size: '240x50' %>Collegeshare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <script src="https://apis.google.com/js/platform.js"></script>
</head>
<body class="index">
	<%= render 'layouts/header' %>
   <div class="container">
		 <%= render 'layouts/flash_message' %>
			  <%= yield %>
   </div>
</body>
</html>
